.block{
    margin: 0 auto;
    width: 800px;
    height: 800px;
    border: 1px solid red;
}
.box{
    height: 100px;
}
.first{
    background: rgb(211, 12, 12);
}
.second{
    background: rgb(160, 223, 13);
}
.second{
    background: rgb(7, 71, 209);
}

